.footer {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  background-color: #f8f9fa;
  margin-top: 80px;
  font-size: 14px;
  font-family: arial, sans-serif;
}
